.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
h1 {
	font-family: 'Baloo Bhai', cursive;
}
body {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}
.menu {
	float: right;
	list-style: none;
}
.menu ul li {
	display: inline-block;
}
.hero {
	border: 1px solid #000;
	height: 500px;
	background-image: url('../Assets/hero.png');
	background-repeat: no-repeat;
	background-position: right;
	background-color: lightblue;
}
.container {
	border-radius: 8px;
	background-color: lavender;
	width: 450px;
	height: 300px;
	float: left;

}
.talkie {
	position:;
	width: 75%;
	height: 75%;
}

.container1 {
    border-radius: 8px;
    width: 30%;
    height: 50%;
    background-color: lavender;
    margin: 120px 20px;
    padding: 1px 10px;
    float: left;
}

